* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}

.container {
  margin: 5% 40%;
  padding-top: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgray;
}

.display {
}

.count {
  margin: 5% 30% 0;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.buttons {
  padding: 5%;
}
